@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap');

* {
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

//mixins//
@mixin botones-mixin {
    margin: 0.2rem;
    padding: 0.4rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: $main-color;
    color: white;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

@mixin link-mixin {
    text-decoration: none;
    color: $main-color;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

@mixin icons-mixin {
    padding: 1rem 1rem;
    border-radius: 100%;
    border: 1px solid #79727273;
    box-shadow: 0 0.3rem 10px #79727273;
    color: $main-color;
}

@mixin h3-mixin {
    font-weight: bold;
    margin: 2rem 0;
    margin-bottom: 1rem;
}

@mixin p-mixin {
    color: #0000007e;
    margin-bottom: 1.5rem;
}


//variables//
$main-color: #0075FF;

//Separator//
.separator {
    font-weight: bold;
    margin: 3rem 0;
    text-align: center;

    .separator-p {
        color: #0000007e;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        text-align: center;
    }
}

//---------------------Containers----------------------------//
//componentes del primer container//
.container1 {
    background-color: white;

    .coinbase {
        color: $main-color;
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .nav {
        margin-left: 3rem;

        li {
            list-style: none;
            font-size: 1rem;
            font-weight: 600;
            margin: 0.5rem;

            &:hover {
                cursor: pointer;
                opacity: 0.85;
                text-decoration: underline;
            }
        }
    }

    .botones {
        .main-btn {
            @include botones-mixin();

        }

        .sec-btn {
            @include botones-mixin();
            color: black;
            background-color: transparent;
            border: 1px solid transparent;

            &:hover {
                color: $main-color;
                cursor: pointer;
                border: 1px solid $main-color;
            }

        }
    }
}


//componentes del segundo container//
.container2 {
    .link {
        @include link-mixin();
        display: flex;
        align-items: center;
    }

    .bi {
        font-size: 1.2rem;
        align-self: center;
    }

    .title-h1 {
        font-weight: 800;
    }

    .input-btn {
        .input-email {
            border-radius: 0.3rem;
            border: 1px solid #0000003b;
            outline: none;
            padding: 0.3rem 1rem;
            font-weight: 400;

            &::placeholder {
                color: #00000065;
            }

            &:hover {
                border: 1px solid #00000091;
                box-shadow: 0 0 1.5rem #cecece73;
            }

            &:focus {
                border: 1px solid #00000091;
                box-shadow: 0 0 1.5rem #cecece73;
            }
        }

        .main-btn {
            @include botones-mixin()
        }
    }
}


//componentes del tercer container//
.container3 {
    .bi::before {
        @include icons-mixin();
    }

    .section-h5 {
        font-weight: 800;

        .p {
            color: #0000007e;
        }
    }
}


//componetes del cuarto container//
.container4 {

    .card {
        width: 30vw;
        border: none;


        .bi::before {
            font-size: 4rem;
            color: $main-color;
        }

        .card-h3 {
            @include h3-mixin();
        }

        .card-p {
            @include p-mixin()
        }

        .card-link {
            text-decoration: none;
            color: $main-color;
            margin: 5rem 0;
            text-align: center;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

//componentes del quinto container//
.container5 {
    background-color: $main-color;
    color: white;
    padding: 2.5rem;

    .datos {
        font-weight: 800;
        font-size: 2.5rem;
        margin: 0;

        .datos-p {
            font-weight: 200;
            margin: 0;
        }
    }
}

//componentes del sexto container//
.container6 {
    margin: 0 7rem;

    .bi {
        font-size: 4rem;
        color: $main-color;
    }

    hr {
        border: 1px solid;
        width: 10vw;
    }
}

//componentes del septimo container//
.container7 {
    background-color: #F5F8FF;
    margin-top: 3rem;

    .jumbotron {
        @include h3-mixin();
        margin-left: 4rem;
        padding-right: 5rem;

        .jumbotron-p {
            @include p-mixin();
            margin-top: 1rem;
        }

        .main-btn {
            @include botones-mixin()
        }
    }

    .img {
        img {
            max-height: 15rem;
            margin-bottom: 5rem;
        }
    }
}