* {
    margin: 0px;
    padding: 0px;
}

.imagen-principal {
    width: 100vw;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
}

.imagen-galeria {
    width: 32.7vw;
    opacity: 1;
}

.imagen-galeria:hover {
    width: 32.7vw;
    opacity: 0.5;
    cursor: pointer;
}