* {
    margin: 0;
    padding: 0;
}
html   {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
}

.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}
.texto {
    display: flex;
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
button {
    background-color: lightgoldenrodyellow;
    padding: 3px 10px;
}
button:hover {
    background-color: lightgoldenrodyellow;
    padding: 3px 10px;
    cursor: pointer;
    opacity: 0.5;
}