.frase { 
    width: 300px;
    height: 100px;
    background-color: aquamarine;
}
.frase span::before {
    content: '<< ';
    font-size: xx-small;
}
.frase span::after {
    content: ' >>';
    font-size: xx-small;
}
.frase span::selection {
    background-color: black;
    color: white;
}
.parrafo {
    width: 300px;
    height: 150px;
    background-color: darkorange;
}
.parrafo p::first-letter {
    font-size: xx-large;
}
.parrafo p::first-line {
    color: bisque;
}
ul li::marker {
    color: magenta;
}
ol li::marker {
    color: lightskyblue;
}
