.contenedor {
    display: flex;
    background-color: black;
    color: white;
    margin: 2rem;
    padding: 2rem;
    min-height: 10rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    flex-wrap: wrap;
}
.item {
    background-color: red;
    padding: 1rem;
    width: 7rem;
}
.item3 {
    align-self: stretch;
}
.item4 {
    align-self: flex-start;
}
